.Rproj.user
.Rhistory
.RData
.Ruserdata

#Data directories
/processed-data/01_spaceranger/Images/*.tif
/processed-data/01_spaceranger/Images/loupe/*.png
/raw-data/Images/*
/processed-data/processed-data/02_build_spe/*
/processed-data/processed-data/Images/*.csv
/processed-data/Images/VistoSeg/Capture_areas/*.csv
/code/VistoSeg/

*mri.tgz
*bam
*bam.bai
*h5
*spatial_enrichment.csv
*cloupe
SPATIAL_RNA_COUNTER_CS
*.gz
*.rda
*.Rdata
*.rds
*.tif
*.ai
*.mat
*.RDS
*.h5ad
Conserved Anatomically Defined VMH Neuron Pops in Ms and Mcq Suptabs Affinati Sabatini 21 Elife
/Draft figure components/*
