*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.idea

#Data directories
spatial_HYP/processed-data/01_spaceranger/Images/*.tif
spatial_HYP/processed-data/01_spaceranger/Images/loupe/*.png
spatial_HYP/raw-data/Images/*
spatial_HYP/processed-data/processed-data/02_build_spe/*
spatial_HYP/processed-data/processed-data/Images/*.csv
spatial_HYP/processed-data/Images/VistoSeg/Capture_areas/*.csv
spatial_HYP/code/VistoSeg/
spatial_HYP/local_supptab_assembly/
spatial_HYP/processed-data/Images/VistoSeg/
xenium_HYP/processed-data/12-samui/

*mri.tgz
*bam
*bam.bai
*h5
*spatial_enrichment.csv
*cloupe
SPATIAL_RNA_COUNTER_CS
*.gz
*.rda
*.Rdata
*.rds
*.tif
*.tiff
*.ai
*.mat
*.RDS
*.h5ad
chattr.yaml
Conserved Anatomically Defined VMH Neuron Pops in Ms and Mcq Suptabs Affinati Sabatini 21 Elife
spatial_HYP/Draft figure components/*
