.Rproj.user
.Rhistory
.RData
.Ruserdata

#Data directories
/processed-data/01_spaceranger/Images/*.tif
/processed-data/01_spaceranger/Images/loupe/*.png
/raw-data/Images/*
/processed-data//processed-data/02_build_spe/*

*mri.tgz
*bam
*bam.bai
*h5
analysis
*spatial_enrichment.csv
*cloupe
SPATIAL_RNA_COUNTER_CS
*.gz
*.rda
*.Rdata