[jobinfo]
created_at = 2024-03-07 17:15:10
title = sleepchangemd

[version]
FUMA = v1.5.2
MAGMA = v1.08
GWAScatalog = e0_r2022-11-29
ANNOVAR = 2017-07-17

[inputfiles]
gwasfile = slpchangemod.tsv.gz
chrcol = NA
poscol = NA
rsIDcol = rsid
pcol = pval
eacol = minor_allele
neacol = majal
orcol = NA
becol = beta
secol = NA
leadSNPsfile = NA
addleadSNPs = 1
regionsfile = NA

[params]
GRCh38 = 0
N = 48000
Ncol = NA
exMHC = 1
MHCopt = annot
extMHC = NA
ensembl = v102
genetype = protein_coding
leadP = 1e-5
gwasP = 0.05
r2 = 0.6
r2_2 = 0.1
refpanel = 1KG/Phase3
pop = EUR
MAF = 0
refSNPs = 1
mergeDist = 250

[magma]
magma = 0
magma_window = NA
magma_exp = NA

[posMap]
posMap = 1
posMapWindowSize = 10
posMapAnnot = NA
posMapCADDth = 0
posMapRDBth = NA
posMapChr15 = NA
posMapChr15Max = NA
posMapChr15Meth = NA
posMapAnnoDs = NA
posMapAnnoMeth = NA

[eqtlMap]
eqtlMap = 1
eqtlMaptss = GTEx/v8/Brain_Hypothalamus.txt.gz
eqtlMapSig = 0
eqtlMapP = 5e-2
eqtlMapCADDth = 0
eqtlMapRDBth = NA
eqtlMapChr15 = NA
eqtlMapChr15Max = NA
eqtlMapChr15Meth = NA
eqtlMapAnnoDs = NA
eqtlMapAnnoMeth = NA

[ciMap]
ciMap = 1
ciMapBuiltin = EP/PsychENCODE/EP_links_oneway.txt.gz:HiC/PsychENCODE/Promoter_anchored_loops.txt.gz:EP/FANTOM5/EP_correlation_cell_type_oneway.txt.gz:EP/FANTOM5/EP_correlation_organ_oneway.txt.gz:HiC/Giusti-Rodriguez_et_al_2019/Adult_Cortex.txt.gz
ciMapFileN = 0
ciMapFiles = NA
ciMapFDR = 1e-3
ciMapPromWindow = 2000-500
ciMapRoadmap = NA
ciMapEnhFilt = 0
ciMapPromFilt = 0
ciMapCADDth = 0
ciMapRDBth = NA
ciMapChr15 = NA
ciMapChr15Max = NA
ciMapChr15Meth = NA
ciMapAnnoDs = NA
ciMapAnnoMeth = NA

